<h2>Rants</h2>

<section class="rants">
  <div class="actions">
      <div class="rant-type-filter">
        <%= link_to "All", admin_rants_path(:spam => false), :class => (!@viewing_spam ? "selected" : nil) %>
        <%= link_to "Spam", admin_rants_path(:spam => true), :class => (@viewing_spam ? "selected" : nil) %>
      </div>

      <div class="date-filter">
        <%= form_tag nil, :method => :get do %>
          <%= text_field_tag "start_date", params[:start_date], :data => {:datepicker => nil} %>
          <p> To </p>
          <%= text_field_tag "end_date", params[:end_date], :data => {:datepicker => nil} %>

          <%= submit_tag "Filter", :class => "button" %>
        <% end %>
      </div>
  </div>
  <table>
    <thead>

      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>

    </thead>

    <tbody>

      <% @rants.each do |rant| %>
        <tr>
          <td><%= rant.author.full_name %></td>
          <td><%= rant.title %></td>
          <td>
            <% if rant.spam? %>
              <%= link_to "Not spam", spam_admin_rant_path(rant), :method => :delete %>
              <%= link_to "Delete", admin_rant_path(rant), :method => :delete %>
            <% else %>
              <%= link_to "View", rant %>
            <% end %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
</section>
