<section class="login">

    <%= form_for @session, :url => session_path do |f| %>

        <h2>Login</h2>

        <div>
            <%= f.label :username %>
            <%= f.text_field :username %>
        </div>

        <div>
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>

        <hr>

        <%= f.submit "Login" %>

    <% end %>
</section>
