<section class="user">
  <h3>
    <%= @user.full_name %>

    <div class="links">
      <%= follow_link @user %>
    </div>
  </h3>

  <div class="profile-and-type">
    <%= image_tag @user.image %>

    <div class="type-of-ranter">
      <%= @user.type_of_ranter.capitalize %> Ranter
    </div>
  </div>

  <div class="bio">
    <%= simple_format @user.bio %>
  </div>

  <ul class="rants">
    <% @rants.each do |rant| %>
      <li class="rant">
        <div class="title">
          <%= rant.title %>
        </div>

        <%= link_to rant, :class => "body" do %>
            <%= truncate rant.body, :length => 400 %>
        <% end %>
      </li>
      <% end %>
  </ul>
</section>
