<li class="rant">
  <div class="author">
    <%= link_to rant.author.full_name, rant.author %>

    <%= image_tag rant.author.image %>

    <div class="author-actions">
      <%= follow_link(rant.author) %>
    </div>
  </div>

  <%= link_to rant, :class => "text" do %>
    <h4> <%= rant.title %></h4>
    <%= truncate(rant.rendered_body, :length => 400) %>
  <% end %>

  
  <div class="actions">
    <%= favorite_link rant %>
  </div>
</li>
