<section class="rant">
  <h3>
    <%= @rant.title %>

    <div class="links">
      <%= favorite_link @rant %>
    </div>
  </h3>

  <div class="text">
    <%= image_tag @rant.author.image %>

    <h2>
      by <%= link_to @rant.author.full_name, @rant.author %>
    </h2>

    <%= @rant.rendered_body %> 
  </div>
</section>
