<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="brand">
    <h1>Rantly</h1>
  </div>

  <div class="tools">
    <a href="/">Login</a>
    <%= link_to "Join", new_user_path, :class => "call-to-action" %>
  </div>
</nav>

<main>
  <% if notice %>
    <div class="notice">
      <%= notice %>
    </div>
  <% end %>

  <%= yield %>
</main>

</body>
</html>
