<% content_for(:content) do %>
    <aside>
        <%= image_tag("profile.jpg") %>

        <div class="name">
            <%= link_to current_user.full_name, edit_user_path(current_user) %>
        </div>

        <%= form_for @rant do |f| %>
            <%= f.label :title, "A rant about:" %>
            <%= f.text_field :title %>

            <%= f.label :body, "Rant:" %>
            <%= f.text_area :body %>

            <%= f.submit "Rant" %>
        <% end %>
    </aside>

    <div class="main-content">
        <%= yield %>
    </div>
<% end %>

<%= render template: "layouts/application" %>