<% content_for(:content) do %>
    <div class="content">
        <aside>
            <div class="profile-picture">
                <%= image_tag("profile.jpg") %>
            </div>

            <div class="name">
                <%= link_to current_user.full_name, edit_user_path(current_user) %>
            </div>

            <div class="new-rant">
                <%= form_for @rant do |f| %>
                    <%= f.label :title, "A rant about:" %>
                    <%= f.text_field :title %>
                    
                    <%= f.label :body, "Rant:" %>
                    <%= f.text_area :body %>
                    
                    <%= f.submit "Rant" %>
                <% end %>
            </div>
        </aside>

        <div class="main-content">
            <%= yield %>
        </div>
    </div>
<% end %>

<%= render template: "layouts/application" %>