<% content_for(:content) do %>
  <aside>
    <div class="profile-picture">
      <%= image_tag(current_user.image_url) %>

      <div class="name">
        <%= link_to current_user.full_name, edit_user_path(current_user) %>
      </div>
    </div>

    <%= render "rants/form", :rant => @current_user_rant %>
  </aside>

  <div class="main-content">
    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
